In [2]:
import os
import openai
import tiktoken
import pandas as pd
import numpy as np
from dotenv import load_dotenv
from openai import OpenAI
from sklearn.metrics import (
    roc_auc_score,
    accuracy_score,
    f1_score,
    precision_score
)
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay

#### Necessary pip installation commands include:
- pip install os
- pip install openai
- pip install pandas
- pip install numpy
- pip install python-dotenv


#### <b>Note</b>: have a <b>.env</b> file already created for accessing API key

In [3]:
# retrieving dataset utilized for evaluation
df = pd.read_csv('../../data/csv/semi_toxic_classification_evaluation_set.csv')
df['Toxic'] = df['Toxic'].apply(lambda x: str(np.int64(x)))
df

                                                  Text Toxic
0          Date When did this algorithm get invented ?     0
1    answered them many times ! but they didnt answ...     0
2    IAC There is a discussion on article 's talk p...     0
3    Spandam 's laugh ? I 'm listening to it and al...     0
4             AND HAVING A FUCKIN ' BITCH ASS DAY '' '     1
..                                                 ...   ...
995  Oh , well Harry finally got his payback on me ...     1
996  this page is about random crap talk .. just ed...     1
997  I 've reverted the editsBOTH OF THEM VIOLATED ...     0
998  I used the exact same bullshit you wrote , hyp...     1
999  PLEASE STOP RUINING MY LEGITIMATE EDIT . THANK...     1

[1000 rows x 2 columns]

In [4]:
# retrieving API Keys from OpenAI platform
load_dotenv()
# Initialize the tokenizer for GPT-3.5 Turbo and GPT-4
tokenizer = tiktoken.get_encoding("cl100k_base")
input_token_cost = ((1.00 / 1000000))
output_token_cost = ((2.00 / 1000000))
FINE_TUNED_TOXIC_DETECTION_API_KEY = os.getenv("FINE_TUNED_TOXIC_DETECTION_API_KEY")
REGULAR_TOXIC_DETECTION_API_KEY = os.getenv("REGULAR_TOXIC_DETECTION_API_KEY")

In [5]:
# instantiating client with API key
general = OpenAI(
    api_key=REGULAR_TOXIC_DETECTION_API_KEY
)

In [6]:
# creating container for holding model completions for comparison
original = pd.DataFrame(columns=['Text', 'Toxic'])
tokens = pd.DataFrame(columns=['Prompt', 'Input', 'Output', 'Total'])

In [7]:
evaluation_prompt = ''
# Read the evaluation prompt from the text file with utf-8 encoding
with open("../../data/text/prompt_engineering/gpt-3-5-1106-two-shot-prompt.txt", "r", encoding="utf-8") as file:
    evaluation_prompt += file.read()

In [8]:
evaluation_prompt

'Classify these comments as either toxic (1) non-toxic (0). Toxic comments contain offensive, harmful, or abusive language. Label 1 for toxic and 0 for non-toxic\n\nExamples for Reference:\n\nText: “I disagree with you, but I think you make some valid points.”\n\nLabel: 0\n\nText: “Go back to where you came from, we don’t want you here.”\n\nLabel: 1\n\nClassify the following comment:'

In [9]:
# processing original gpt-3.5-turbo-1106 model across entire dataset with advanced prompt
for index, row in df.iterrows():
    completion = general.chat.completions.create(
        model="gpt-3.5-turbo-1106",
        messages=[
            {
                "role": "system", 
                "content": evaluation_prompt
            },
            {
                "role": "user",
                "content": row['Text']
            }
        ]
    )
    original.loc[index] = [row['Text'], completion.choices[0].message.content]

    # tokenize the string
    tokens_object = {
        'prompt': len(tokenizer.encode(evaluation_prompt)),
        'input': len(tokenizer.encode(row['Text'])),
        'output': len(tokenizer.encode(completion.choices[0].message.content))
    }
    total_tokens = tokens_object['prompt'] + tokens_object['input'] + tokens_object['output']
    tokens.loc[index] = [tokens_object['prompt'], tokens_object['input'], tokens_object['output'], total_tokens]

In [10]:
tokens

     Prompt  Input  Output  Total
0        95      8       1    104
1        95     20       1    116
2        95     13       1    109
3        95     31       1    127
4        95     13       1    109
..      ...    ...     ...    ...
995      95    166       1    262
996      95     12       1    108
997      95     18       1    114
998      95     12       1    108
999      95     18       1    114

[1000 rows x 4 columns]

In [11]:
# gpt-3.5 needs prompt to be really specific; more instruction needed
# gpt-4 will give you a response of a number as requested, gpt-3.5 will give
# a longer sequence of characters which wasn't asked for
original

                                                  Text Toxic
0          Date When did this algorithm get invented ?     0
1    answered them many times ! but they didnt answ...     1
2    IAC There is a discussion on article 's talk p...     0
3    Spandam 's laugh ? I 'm listening to it and al...     0
4             AND HAVING A FUCKIN ' BITCH ASS DAY '' '     1
..                                                 ...   ...
995  Oh , well Harry finally got his payback on me ...     1
996  this page is about random crap talk .. just ed...     1
997  I 've reverted the editsBOTH OF THEM VIOLATED ...     0
998  I used the exact same bullshit you wrote , hyp...     1
999  PLEASE STOP RUINING MY LEGITIMATE EDIT . THANK...     1

[1000 rows x 2 columns]

In [12]:
# comparing results of model to dataset
compare = original['Toxic'] == df['Toxic']
gptthreefive_original_accuracy = compare.values.sum() / compare.size

In [13]:
compare

0       True
1      False
2       True
3       True
4       True
       ...
995     True
996     True
997     True
998     True
999     True
Name: Toxic, Length: 1000, dtype: bool

In [14]:
# gpt-3.5-turbo-1106 model accuracy with advanced prompted engineering (role prompting, two-shot examples) 89.90%
print(f"Accuracy: {gptthreefive_original_accuracy * 100:.2f}%")

Accuracy: 89.90%

In [15]:
# total token input cost: $0.16336699999999998
((tokens['Input'].sum() + tokens['Prompt'].sum()) * input_token_cost)

0.16336699999999998

In [16]:
# total token output cost: $0.002218
(tokens['Output'].sum() * output_token_cost)

0.002218

In [17]:
# complete total token cost: $0.16558499999999998
((tokens['Input'].sum() + tokens['Prompt'].sum()) * input_token_cost) + (tokens['Output'].sum() * output_token_cost)

0.16558499999999998

In [18]:
# 164476
tokens['Total'].sum()

164476